#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #1e1d1d;
}

.lightswitch {
  background-image: url("/src/assets/light_switch.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 124px 96px;
  height: 301px;
  display: inline-block;
}

.calculator-root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.calculator-root > div:last-child {
  margin-left: 16px;
  width: 300px;
}

.control-wrapper {
  margin-top: 16px;
}

.areaConfigurationWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 16px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.areaConfigurationWrapper > * {
  margin-bottom: 16px !important;
}

.parameterWrapper {
  align-items: center;
  /* justify-content: center; */
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

.parameterWrapper > * {
  flex: 1 1 49%;
  margin-bottom: 16px !important;
  max-width: 350px;
}

.parameterWrapper > :first-child,
.parameterWrapper > :nth-child(3) {
  margin-right: 16px;
}
