#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #1e1d1d;
}

.lightswitch {
  background-image: url("/src/assets/light_switch.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 124px 96px;
  height: 301px;
  display: inline-block;
}

.calculator-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-root > div:last-child {
  margin-left: 16px;
  width: 300px;
}

.control-wrapper {
  margin-top: 16px;
}

.parameterWrapper {
  display: flex;
  flex-direction: column;
}

.parameterWrapper > * {
  margin-bottom: 16px !important;
}
